/* override bootstrap variable */
$font-size-base: 14px;
$icon-font-path: "../../bower_components/bootstrap-sass-no-js/vendor/assets/fonts/bootstrap/";
$form-group-margin-bottom: 10px;
/* ----------------*/
$info-color: #286090;
